body	{	background-image: url("background.png");
			font-family: 'Trebuchet MS', Arial;
		}

#loginContainer	{	background-color: white;
					width:500px;
					height:600px;
					position:absolute;
					left:50%;
					top:50%;
					margin:-300px 0 0 -250px;
					text-align: center;
				}

#container2	{	background-color: white;
				width:400px;
				height:500px;
				position:absolute;
				left:50%;
				top:50%;
				margin:-250px 0 0 -200px;
				text-align: center;
			}
				
#loginLogo	{	height: 150px;
				width: 150px;
			}
			
#loginText	{	font-size: 25pt;
				font-weight: bold;
			}
			
#username, #password	{	-webkit-border-radius: 10px;
							-moz-border-radius: 10px;
							border-radius: 10px;
							border: 3px solid rgb(56,93,138);
							
							height: 30px;
							width: 300px;
							font-family: 'Trebuchet MS', Arial;
							padding-left: 10px;
							font-size: 14pt;
						}	
						
#loginButton	{	background-color: rgb(56,93,138);
					color: white;
					font-size: 15pt;
					font-weight: bold;
					height: 43px;
					width: 320px;
					-webkit-border-radius: 10px;
					-moz-border-radius: 10px;
					border-radius: 10px;
					font-family: 'Trebuchet MS', Arial;
				}
